/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

composer\.lock




resources/assets/js/config\.js

public/img/predisenadas/

public/img/articulos/
